@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Poppins:wght@500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-color: rgba(57, 179, 250, 0.7);
    background-blend-mode: multiply;
    font-size: 1.1em;
  
}

.heading {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
}

#head{
    font-size: 1.8em;
}

#subHeading {
    margin-top: 10px;
    font-size: 18px;
}

.content_1 {
    width: 90%;
    margin: auto;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
    font-family: 'Poppins' , sans-serif;
    
}

form .box {
    outline: none;
    width: 98.6%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

.option_1 select, .option_2 select {
    width: 98.6%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

.option_2{
    margin-top: 10px;
    position: relative;
    bottom: 10px;
}
#content_2 textarea{
    width: 98.6%;
    height: 125px;
    position: relative;
    bottom: 17px;
    outline: none;
    border-radius: 6px;
}
button{
    width: 98.6%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgb(18, 219, 78);
    color: rgb(255, 255, 2555);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}
textarea::placeholder{
    font-size: 1.4em;
    position: relative;
    top: 8px;
    left: 5px;
    width: 70%;
    
}
input::placeholder{
    font-size: 1.1em;
    position: relative;
    left: 10px;
    width: 50%;
    font-weight: 500;
}
input.larger{
    width: 20px;
    height: 20px;
}

@media(max-width: 900px){
    form{
        width: 70%;
    }
}
@media(max-width: 800px){
    form{
        width: 80%;
    }
}
@media(max-width: 600px){
    form{
        width: 96%;
    }
    .heading {
        width: 96%;
    }
   
}
@media(max-width: 500px){
    form{
        width: 90%;
    }
    #head{
        font-size: 1.6em;
    }
    #subHeading {
        font-size: 15px;
       }
}
@media(max-width: 400px){
    form{
        width: 95%;
    }
}